huggingface_hub==1.8.0
pandas==2.2.2
streamlit==1.43.2
langchain-groq
langchain_experimental
spacy==3.7.4
langchain_huggingface
langchainhub
langchain_core
langchain
langchain-protocol
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
